<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
     <bean id="Address" class="SpringAssignments.firstassignment.Address">
    <constructor-arg index="0" value="ABC"></constructor-arg>
    <constructor-arg index="1" value="Palakollu"></constructor-arg>
    <constructor-arg index="2" value="AP"></constructor-arg>
   <constructor-arg index="3" value="534260"></constructor-arg>
   <constructor-arg index="4" value="India"></constructor-arg>
    
    </bean>
    
    <bean id="customer" class="SpringAssignments.firstassignment.Customer">
    <property name="customerid" value="001"/>
     <property name="customername" value="Teja"/>
      <property name="custnum" value="8247280062"/>
      <property name="add" ref="Address"/>
    </bean>
   
</beans>