.result {
  height: 100px;
  background-color: rgb(68, 20, 20);
  width: 100%;
  color: #fff;
}

.result p {
  font-size: 60px;
  margin: auto;
  color: #fff;
}

.calculator-body {
  max-width: 300px;
  margin: auto;
}

.button {
  display: block;
  background-color: #fff;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.btn{
  width: 75%;
}

.c{
  background-color: #be1246 ;
  color: #fff;
}